.mainContacto{
    text-align: center;
    height: 100vh;
}
.formularios p{
    text-align: center;
    margin: 0 auto;
    height: 20vh;
    width: 20%;
    backdrop-filter: blur(100px);
}
.formularioContacto {
	padding:16px;
	border-radius:10px;
	margin:auto;
    width:400px;
	background-color:#ccc;
}