.header{
    .logo{
        /*background-color: #43A047;*/
        width: 350px;
        }  
        .ulColor{
            justify-content: flex-end;
        }
}
.navbar-light .navbar-nav .linknav {
    color:$color-principal;
    font-size: 1.3rem;
}



