.mainNosotros{
    .fondoMain{
        padding-bottom: 10vh;
        background-color: $fondo-negro;
        color:$color-fuente;
        .cardNosotros{
            margin: 0% auto;
        }  
    }     
}