/*Contacto*/
.mainContacto{
    background-color: $fondo-negro;
    backdrop-filter: $blur-cards;
    color: white;
    padding-top: 10vh;
    padding-bottom: 30vh;
}
/*Contacto
$fondo-negro: rgba(29, 29, 29, 0.631372549); 
$blur-cards*/